@import "lightbox-config.scss";

@mixin tab-highlight {
  * {
    -webkit-tap-highlight-color : transparent;
  }
}

:root {
  --lib-image-margin            : #{$image-margin};
  --lib-backdrop-color          : #{$backdrop-color};
  --lib-overlay-backgound-color : #{$overlay-background-color};
  --lib-arrow-background-color  : #{$arrow-background-color};
  --lib-overlay-text-color      : #{$overlay-text-color};

  --lib-arrow-click-height      : #{map-get($arrow-click-radius, "height")};
  --lib-arrow-click-width       : #{map-get($arrow-click-radius, "width")};

  --lib-icons-png               : url("#{$icon-png}") 0 0 no-repeat;
  --lib-icons-svg               : url("#{$icon-svg}") 0 0 no-repeat;
}

lib-gallery-component, lib-controls, lib-share, lib-slider, lib-slider-image {
  @include tab-highlight;
}
