.share-options {
  a {
    text-align      : left;
    display         : block;
    padding         : 8px 12px;
    color           : #000;
    text-decoration : none;
    font-size       : 14px;
    line-height     : 18px;


    &:first-child {
      border-radius : 2px 2px 0 0;
    }

    &:last-child {
      border-radius : 0 0 2px 2px;
    }

    &:hover {
      background-color : #00000021;
    }
  }

}
