@use "sass:math";

/* Lightbox ***********************************************************************************************************/
$-backdrop-color         : #000;
$-overlay-color          : rgba(0, 0, 0, 0.3);
$-arrow-background-color : rgba(0, 0, 0, 0.3);
$-overlay-text-color     : #fff;
$-arrow-click-radius     : ("width": 60px, "height": 80px);
$-icon-url               : "^assets/photo-swiper/controls.svg";


@mixin configure-lightbox(
  $backdrop-color: null,
  $overlay-color: null,
  $arrow-background-color: null,
  $overlay-text-color: null,
  $arrow-click-radius: null,
  $icon-url: null
) {
  @if $backdrop-color {
    $-backdrop-color : $backdrop-color !global;
  }
  @if $overlay-color {
    $-overlay-color : $overlay-color !global;
  }
  @if $arrow-background-color {
    $-arrow-background-color : $arrow-background-color !global;
  }
  @if $overlay-text-color {
    $-overlay-text-color : $overlay-text-color !global;
  }
  @if $arrow-click-radius {
    $-arrow-click-radius : $arrow-click-radius !global;
  }
  @if $icon-url {
    $-icon-url : $icon-url !global;
  }
}

/* Flex gallery *******************************************************************************************************/
$-image-margin           : .5rem;

@mixin configure-flex-gallery($image-margin: null) {
  @if $image-margin {
    $-image-margin : $image-margin !global;
  }
}

$-very-large             : ("width": 2000px, "columns": 7, "horizontal-gap": 25px, "vertical-gap": 25px);
$-large                  : ("width": 1500px, "columns": 6, "horizontal-gap": 20px, "vertical-gap": 20px);
$-medium                 : ("width": 1000px, "columns": 5, "horizontal-gap": 15px, "vertical-gap": 15px);
$-small                  : ("width": 0500px, "columns": 4, "horizontal-gap": 05px, "vertical-gap": 05px);
$-very-small             : ("width": 0000px, "columns": 3, "horizontal-gap": 02px, "vertical-gap": 02px);
$-breakpoints            : $-very-small $-small $-medium $-large $-very-large;


/* Square gallery *****************************************************************************************************/
@mixin configure-square-gallery($breakpoints: null) {
  @if $breakpoints {
    $-breakpoints : $breakpoints !global;
  }
}

@mixin lightbox-styles() {

  /* Lightbox *********************************************************************************************************/
  :root {
    --lib-backdrop-color          : #{$-backdrop-color};
    --lib-overlay-backgound-color : #{$-overlay-color};
    --lib-arrow-background-color  : #{$-arrow-background-color};
    --lib-overlay-text-color      : #{$-overlay-text-color};

    --lib-arrow-click-height      : #{map-get($-arrow-click-radius, "height")};
    --lib-arrow-click-width       : #{map-get($-arrow-click-radius, "width")};

    --lib-icons                   : url(#{$-icon-url}) 0 0 no-repeat;
  }

  /* Flex gallery *****************************************************************************************************/
  :root {
    --lib-image-margin : #{$-image-margin};
  }

  /* Square gallery ***************************************************************************************************/
  @each $size in $-breakpoints {
    $columns           : map-get($size, "columns");
    $width             : map-get($size, "width");
    $horizontal-gap    : map-get($size, "horizontal-gap");
    $vertical-gap      : map-get($size, "vertical-gap");
    $column-percentage : math.div(100, $columns);

    @media screen and (min-width : $width) {
      .square-wrapper {
        grid-template-columns : repeat($columns, calc(#{$column-percentage}% - #{$horizontal-gap}));
        column-gap            : $horizontal-gap;
        row-gap               : $vertical-gap;
      }
    }
  }


  photo-flex-gallery, photo-controls, photo-share, photo-slider, photo-slider-image, photo-square-gallery, photo-lightbox {
    * {
      -webkit-tap-highlight-color : transparent;
    }
  }

}
